body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  background-color: #05ccae;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

input[type="number"] {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.resultado {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.resultado-etanol {
  background-color: #2ecc71;
}

.resultado-gasolina {
  background-color: #e74c3c;
}

.resultado-igual {
  background-color: #f39c12;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.card header {
  margin-bottom: 20px;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

#img {
  border-radius: 10px;
}

#historicoTable {
  width: 90%;
  font-size: 12px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#historicoTable th,
#historicoTable td {
  border: 1px solid #ddd;
  padding: 3px;
  text-align: left;
}
.historico {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
}
#historicoTable th {
  background-color: #f2f2f2;
}

#historicoTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#historicoTable tbody tr:hover {
  background-color: #ddd;
}

#historicoTable:empty {
  display: none;
}

@media screen and (max-width: 427px) {
  .container {
    padding: 10px;
  }

  input[type="number"] {
    width: calc(100% - 20px);
    margin-bottom: 5px;
  }

  button {
    padding: 8px 16px;
  }

  #historicoTable {
    overflow-x: auto;
  }
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

input[type="number"] {
  width: 80%;
  margin: 0 auto;
  display: block;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

.resulta {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
